    * {
        padding: 0;
        margin: 0;
    }
    
    body {
        background-color: antiquewhite;
    }
    
    .container {
        display: flex;
        justify-content: center;
    }
    
    .calculator {
        background-color: lightslategray;
        height: 600px;
        width: 400px;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        border: solid black 3px;
    }
    
    .clear {
        margin-top: 0px;
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0px;
    }
    
    #clear {
        width: 140px;
        height: 50px;
        background-color: brown;
        margin-right: 20px;
        font-size: 20px;
    }
    
    #del {
        width: 140px;
        height: 50px;
        font-size: 20px;
    }
    
    .operators {
        width: auto;
        height: auto;
        display: flex;
        position: relative;
        bottom: 121px;
        left: 126px;
        rotate: 90deg;
    }
    
    .operators button {
        width: 60px;
        height: 60px;
        rotate: 90deg;
        font-size: 20px;
    }
    
    .scrn {
        width: 300px;
        height: 100px;
        background-color: white;
        position: relative;
        border: solid black 2px;
        border-radius: 5px;
        margin-top: 75px;
        position: relative;
        bottom: 50px;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: right;
        font-size: 30px;
    }
    
    .top-row {
        width: auto;
        height: auto;
        margin-top: 25px;
        margin-right: 105px;
    }
    
    .top-row button {
        width: 60px;
        height: 60px;
        font-size: 20px;
    }
    
    .middle-row {
        width: auto;
        height: auto;
        margin-right: 105px;
    }
    
    .middle-row button {
        width: 60px;
        height: 60px;
        font-size: 20px;
    }
    
    .bottom-row {
        width: auto;
        height: auto;
        margin-right: 105px;
    }
    
    .bottom-row button {
        width: 60px;
        height: 60px;
        font-size: 20px;
    }
    
    .last-row {
        width: auto;
        height: auto;
        margin-right: 105px;
    }
    
    .last-row button {
        width: 60px;
        height: 60px;
        font-size: 20px;
    }